Repository dkwjd-21/BookAt-Service, pull requests merged in 2025-09, with the labels that each got.

#10 Feature/#3 signup
  .gitignore
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/config/SecurityConfig.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/UserSignupController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/dto/UserSignup.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/mapper/UserSignupMapper.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/service/UserSignupService.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/service/impl/UserSignupServiceImpl.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/mapper/UserSignup-mapper.xml
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/UserSignup.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/js/UserSignup.js
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/user/UserSignup.html
Labels: ✨ Feature, 🎨 Html&css

#12 Feature/#3 signup
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/config/SecurityConfig.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/UserSignupController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/service/impl/UserSignupServiceImpl.java
Labels: ✨ Feature

#30 [REFACTOR] 로그인 & 메인 충돌
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/config/SecurityConfig.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/HomeController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/footer.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/header.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/book_header.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/footer.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/header.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/mainpage/book.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/mainpage/bookdetail.html
Labels: 🎨 Html&css, 🔨 Refactor

#32 Feature/#16 ticketing seat type
  BookAt-Service.zip_expanded/BookAt-Service/libs/simplecaptcha-1.2.1.jar
  BookAt-Service.zip_expanded/BookAt-Service/pom.xml
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/config/SecurityConfig.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/CaptchaController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/HomeController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/QueueController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/ReservationController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/controller/UserSignupController.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/entity/User.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/mapper/ReservationMapper.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/service/ReservationService.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/service/impl/ReservationServiceImpl.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/java/com/bookat/util/CaptchaUtil.java
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/mapper/event/Reservation-Mapper.xml
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/ReservationPopup_Seat.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/captcha.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/event_detail.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/event_mainpage.css
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/js/ReservationPopup_Seat.js
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/js/event_detail.js
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/js/queue/QueueModal.js
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/js/utils/captcha.js
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/book_header.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/event_header.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/footer.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/fragments/header.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/mainpage/bookdetail.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/mainpage/event_categorypage.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/reservation/ReservationPopup_Seat.html
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/templates/user/UserSignup.html
Labels: ✨ Feature, 🎨 Html&css

#34 [BUGFIX] header.css 버그 수정 #33
  BookAt-Service.zip_expanded/BookAt-Service/src/main/resources/static/css/header.css
Labels: 🐞 BugFix
